Source: ros-humble-event-camera-py
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-numpy <!nocheck>, ros-humble-ament-cmake, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-clang-format <!nocheck>, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-ament-cmake-python, ros-humble-ament-cmake-ros, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-event-camera-codecs, ros-humble-event-camera-msgs, ros-humble-pybind11-vendor, ros-humble-python-cmake-module, ros-humble-rclpy <!nocheck>, ros-humble-ros-environment, ros-humble-rosbag2-py <!nocheck>, ros-humble-rosbag2-storage-default-plugins <!nocheck>, ros-humble-rosidl-runtime-py <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-event-camera-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-event-camera-codecs, ros-humble-event-camera-msgs, ros-humble-pybind11-vendor, ros-humble-ros-environment, ros-humble-ros-workspace
Description: Python access for event_camera_msgs.
