Source: ros-rolling-event-camera-py
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-clang-format <!nocheck>, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-pytest <!nocheck>, ament-cmake-python, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, pybind11-dev, python3-numpy <!nocheck>, ros-environment, ros-rolling-event-camera-codecs, ros-rolling-event-camera-msgs, ros-rolling-python-cmake-module, ros-rolling-rclpy <!nocheck>, ros-rolling-rosbag2-py <!nocheck>, ros-rolling-rosbag2-storage-default-plugins <!nocheck>, ros-rolling-rosidl-runtime-py <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-event-camera-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pybind11-dev, ros-environment, ros-rolling-event-camera-codecs, ros-rolling-event-camera-msgs, ros-rolling-ros-workspace
Description: Python access for event_camera_msgs.
